form {
	float: center;
	width: 100%;
	margin-top: 10px;
}
form>div {
	float: center;
	width: 50%;
}
form>div>input {
	border-radius: 50px;
	border: 1px solid #c4c4c4;
	font-size: 0.8em;
	padding: 10px 5%;
	margin-bottom: 10px;
	background-color: white;
	width: 76%;
}

form textarea {
	border-radius: 5px;
	border: 1px solid #c4c4c4; 
	font-size: 0.8em;
	padding: 10px;
	background-color: white;
	width: 76%;
	resize: vertical;
	max-height: 200px;
	min-height: 70px;
}
form .btn {
	margin-right:3%;
	margin-top: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 5px 9px;
	font-size: 1.2em;
	background-color: rgba(236, 101, 80, 1);
	text-shadow: #454545 0 0 2px;
	border-bottom: 4px solid rgba(217, 91, 72, 1);
	color: white;
	font-family: 'Roboto Slab', serif;
	float: left;
}
form .btn:hover {
border-bottom: 2px solid rgba(217, 91, 72, 1);
margin-top: 7px;
}
form .btn:active {
border-bottom: 0;
margin-top: 9px;
}